/* AJUSTES GENERALES */

.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 100px;
    width: 450px;
}

.card img{
    height: 250px;
    width: auto;
}

.section-container {
    padding: 3em;
}

/* CONTENEDORES VENTAS HOME */

#venta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-ventas {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* CONTENEDORES ALQUILER HOME */

#alquiler {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-alquiler {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* PÁGINA VENTAS */

.section-ventas-page {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* PÁGINA ALQUILER */

.section-alquiler-page {
    display: flex;
    flex-direction: row;
    gap: 20px;
}